body,
html {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

* {-webkit-font-smoothing: antialiased;}

#header {
  height: 150px;
  /* transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0; */
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-color: black;
  background-position: -320px -325px;
  /* z-index: 1; */

  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); */
}

.detail-bar {
  width: 100%;
  height: 45px;
  border-radius: 0 0 10px 10px;
  background: #F4F4F4;
  color: #0092C0;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0px;
}

.card-head {
  font-size: 32px;
  font-weight: 900;
  padding-left: 170px;
}

@media screen and (max-width: 490px) {
  .card-head {
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen and (min-width: 540px) and (max-width: 800px) {
  .card-head {
   
    padding-left: 70px
  }
}

@media screen and (max-width: 1222px) {
  .card-head {
    font-size: 25px;
   
  }
}

@media screen and (min-width: 950px) and (max-width: 1050px)  {
  .card-head {
    padding-left: 110px;
    /* height: 110px !important; */
  }
}

@media screen and (min-width: 950px) and (max-width: 1050px)  {
  .card-head2 {
    padding-left: 110px !important;
    /* height: 110px !important; */
  }
}

@media screen and (min-width: 800px) and (max-width: 950px)  {
  .card-head {
    padding-left: 50px;
    font-size: 20px;
    /* height: 110px !important; */
  }
}

@media screen and (min-width: 800px) and (max-width: 950px)  {
  .card-head2 {
    padding-left: 50px !important;
    font-size: 20px !important;
    /* height: 110px !important; */
  }
}

@media screen and (max-width: 800px) {
  .card-body {
   
    text-align: right;
  }
}

@media screen and (min-width: 540px) and (max-width: 800px) {
  .card-head2 {
    padding-left: 70px !important;
  }
}




@media screen and (min-width: 460px) and (max-width: 540px) {
  .card-head2 {
    padding-left: 30px !important;
  }
}
@media screen and (min-width: 460px) and (max-width: 540px) {
  .card-head {
    padding-left: 30px !important;
  }
}



@media screen and (max-width: 460px) {
  .card-head2 {
    padding-left: 0px !important;
    font-size: 30px;
    margin-bottom: 20px
  }
}
@media screen and (max-width: 460px) {
  .card-head {
    padding-left: 0px !important;
    font-size: 20px;
  }
}

@media screen and (max-width: 390px) {
  .card-head2 {
    padding-left: 0px !important;
    font-size: 15px !important;
    margin-bottom: 35px !important;
  }
}
@media screen and (max-width: 390px) {
  .card-head {
    padding-left: 0px !important;
    font-size: 14px;
  }
}

/* @media screen and (max-width: 460px) {
  .rv {
   width: 200 !important;
  }
} */





.card-head2 {
  /* font-weight: bold; */
  margin-top: -10px;
  font-size: 27px;
  padding-left: 170px;
}

@media screen and (max-width: 456px) {
  .card-head2 {
    font-weight: bold;
    margin-top: -10px;
    font-size: 19px;
  }
}

.specs {
  margin-bottom: 2px;
  margin-top: 20px;
  float: right;
  margin-left: -20px
}

@media screen and (max-width: 500px) {
  .specs {
    margin-bottom: 2px;
    margin-top: 5px;
    margin-left: -170px !important;
    /* display: flex;
    text-align: center;
    justify-content: center; */

   
    
    /* margin-left: -200px; */
  }
}
@media screen and (min-width: 1130px) {
  .specs {
    margin-bottom: 2px;
    margin-top: 50px;
    float: right;
    margin-left: -20px
    /* display: flex;
    text-align: center;
    justify-content: center; */

   
    
    /* margin-left: -200px; */
  }
}


/* code below is for functional detail bars */
/* .more-detail {
  display: none;
  background: #fff;
}
.more-content {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #00000029;
  display: flex;
}

.img-label {
  width: 30%;
}

#img-4 {
  width: 100%;
}

.rotation {
  transform: rotate(180deg);
}

.more-info {
  width: 30%;
  margin-left: 5%;
}

.reserve-content {
  font-size: 22px;
}

.van-address {
  text-decoration: underline;
  font-size: 1.5rem;
  color: #0092C0;
}

.detail-bar {
  width: 100%;
  height: 45px;
  border-radius: 0 0 10px 10px;
  background: #F4F4F4;
  color: #0092C0;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
} */

















.img-square-wrapper {
  width: 200px;
  height: 140px;
}

.vehicles {
  width: 200px;
  height: 135px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  float: left;
}

@media screen and (min-width: 800px) {
  #header {
    height: 220px;
    /* transition: all 0.5s;
      z-index: 997;
      transition: all 0.5s;
      padding: 20px 0; */
    background-image: url("../assets/bg.svg");
    background-size: cover;
    background-color: black;
    background-position: -320px -325px;
    z-index: 1;

    /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); */
  }
}



.atlPic {
  /* width: 220px; */
  height: 75px;
  /* width:35%; */
  margin: 0 auto;
  display: block;
  padding-top: 30px;
  font-weight: 600;
  /* float:none !important; */
}

@media screen and (min-width: 800px) {
  .atlPic {
    /* float: left; */
    margin-left: 60px;
    
    /* width: 220px; */
    height: 90px;
    
  }
}

#atl2 {
  font-size: 30px !important;
}

@media screen and (max-width: 460px) {
  #atl2 {
    font-size: 25px !important;
    padding-top: 27px !important
  }
}

@media screen and (min-width: 460px) {
  .atlPic {
    /* float: left; */
    /* margin-left: 60px; */
    
    /* width: 220px; */
    height: 90px;
    font-size: 20px !important;
  }
}

@media screen and (min-width: 800px) {
  #atl2 {
    /* float: left; */
    display: none;
    
  }
}
.center-search {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
 
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  margin-top: -50px;
}

@media screen and (max-width: 800px) {
  .center-search {
    display: none;
  }
}

.content {
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  padding-top: 35px;
  opacity: 1;
}

@media screen and (max-width: 425px) {
  .content {
    background: #ffffff;
    /* border-radius: 10px 10px 0 0; */
    margin-top: -20px;
    padding-top: 35px;
    opacity: 1;
  }
}

body {
  margin: 0;
}

.header-check {
  color: #fff;
  top: 150px;
  right: 10px;
  /* line-height: 46px; */
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  margin-right: 40px;
  margin-top: -65px;
}

.header-check a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .header-check {
    display: none;
  }
}

.header-check1 {
  color: #fff;
  top: 110px;
  right: 10px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  margin-right: 40px;
  margin-top: -65px;
}

.header-check1 a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .header-check1 {
    display: none;
  }
}

.header-check1:hover {
  color: black;
}

.btn-primary {
  background-color: #0092c0;
  /* border: #0092c0; */
  /* margin-bottom: 20px; */
  font-size: 17px;
  margin-top: 15px;
  transition: transform 0.4s;
  border-color: #0092c0
}

.btn-primary:hover {
  transform: scale(0.9);
}

.map-height {
  margin-top: 250px;
}

.center {
  width: 150px;
}

.btn-color {
  background-color: #0092c0;
  border: #0092c0;
}

.btn-default {
  letter-spacing: 1px;

  width: 230px;

  border: 2px solid #0092c0;
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
}

.login-text {
  margin-bottom: 45px;
  margin-top: -10px;
  font-size: 22px;

}

.form-control {
  font-size: 23px;
 
}
@media screen and (max-width: 420px) {
  .form-control {
    font-size: 18px;
    
  }
}

.form-input {
  font-size: 23px;
}
@media screen and (max-width: 585px) {
  .form-input {
    font-size: 16px;
  }
}
.passw {
  margin-bottom: 40px;
}

img.cart {
  width: 30px;
  height: 30px;
}

.cart {
  margin-right: 10px;
}

.col-5 {
  margin: 0 auto;
  margin-bottom: 10px;
  float: none;
}

a.btn.newAc {
  color: #0092c0;
  text-decoration: underline;
  /* margin-bottom: -50px; */
}

@media screen and (max-width: 420px) {
  a.btn.newAc {
    color: #0092c0;
    text-decoration: underline;
    font-size: 15px;
    margin-bottom: -90px;
    margin-top: -40px;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0092c0; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 2;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* @media screen and (max-width: 700px) {
      .sticky {
        display: none;
      }
  } */

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #f0f0f0;
  display: block;
  transition: 0.3s;
}

/* .more {
  margin-top: -10px;
} */
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.fa-bars {
  font-size: 36px;
  margin-left: 65px;
  margin-top: 60px;
  transition: transform 0.4s;
  color: white;
}

@media screen and (max-width: 800px) {
  .fa-bars {
    font-size: 25px;
    margin-left: 20px;
 margin-top: -20px;
 
    transition: transform 0.4s;
    color: white;
    /* background-color: #0092c0; */
  }
}





@media screen and (max-width: 800px) {
  .card-uno {
    margin-top: -10px;
  }
}
/* @media screen and (min-width: 700px) {
  #navToggle, #mySidenav {
      display: none;
      
  }
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: #111;
  } */



@media screen and (max-width: 405px) {
  .item1 {
    color: grey;
    font-weight: bold;
    margin-left: 0px;
    padding-right: 4px;
    font-size: 12px;
  
  }
}

/* @media screen and (max-width: 490px) {
  .nav {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  
  }
} */



.nav-link:hover {
  text-decoration: underline white;
  color: white;
}

@media screen and (max-width: 800px) {
  .nav-link:hover {
    text-decoration: underline #0092c0;
    color: #0092c0;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    margin-top: -55px;
    font-size: 30px;
    color: white;
  }
}




#navToggle:hover {
  color: black;
  cursor: pointer;
  transform: scale(0.9);
}

.head-title {
  font-size: 20px;
  text-align: center;
  margin-top: -30px;
  
  font-weight: bold;
}



.form-control {
  background-color: #f0f0f0;
}


@media screen and (max-width: 1200px) {
  .seLabel {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .timeForm {
    width: 120px;
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .col-sm-7 {
    position: relative;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.car-box {
  top: 710px;
  left: 216px;
  width: 95px;
  height: 60px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  margin-top: -35px;
}



/* @media screen and (max-width: 500px) {
    .car-box 
} */
/* .card-columns {
    margin-top: 30px;
} 


 @media (max-width: 1000px) and (min-width: 450px) {
    .card-columns {
        
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count: 1;
       margin-left: auto;
        margin-right: auto;
       width: 400px;
        
    }
    } */
