body,
html {
  height: 100%;
}

#header {
  height: 220px;
  /* transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0; */
  background-image: url("../assets/bg.svg");
  background-color: #0092c0;
  background-position: -320px -325px;

  /* box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); */
}

.img-fluid {
  position: absolute;
  top: 63px;
  left: 98px;
  width: 210px;
  height: 77px;
}

.content {
  background: #ffffff;
  border-radius: 20px 20px 0 0;
  margin-top: -20px;
  padding-top: 35px;
  opacity: 1;
}

body {
  margin: 0;
  /* margin-top: -20px; */
  font-family: Arial, Helvetica, sans-serif;
}

.header-check {
  color: #fff;
  top: 170px;
  right: 50px;
  /* line-height: 46px; */
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
  margin-right: 40px;
  margin-top: -40px;

}
.header-check a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #0089b4;
}

.btn-primary {
  background-color: #0092c0;
  border: #0092c0;
  margin-bottom: 20px;
  font-size: 22px;
  margin-top: 20px;
}

.card-body {
  padding: 40px 70px;
}

.btn-default {
  /* font-family: Raleway-SemiBold;
            font-size: 13px;
            color: rgba(108, 88, 179, 0.75); */
  letter-spacing: 1px;
  /* line-height: 30px; */
  /* width: 60px; */
  width: 230px;

  border: 2px solid #0092c0;
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
}

.login-text {
  margin-bottom: 45px;
  margin-top: -10px;
  font-size: 22px;
}

.card {
  width: 35rem;
}

#registerPage .card {
  width: 45rem;
}
.form-control {
  font-size: 23px;
}
.passw {
  margin-bottom: 40px;
}

.cart {
  margin-right: 20px;
}

.col-5 {
  margin: 0 auto;
  margin-bottom: 10px;
  float: none;
}

.newAc {
  color: #0092c0;
  text-decoration: underline;
}

/* 
    @media (max-width: 650px) {
        #header {
          height: 200px;
          padding: 10px 0;
        }
      
    } */
